

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
  

}  

body { 
  height:  110vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  background-image:  url('image/back.png');
  margin: 0;

}

.area { 
  display: flex;
  background-color: salmon;
  flex-direction: row;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}


h1 { 
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P';
  font-size: 60px;
  color: yellow;

}

.cell { 

  width:  10%;
  height: 10%;
  background-color: grey;
  
  

}

#test {
  background-color: blueviolet;
}



.wall { 

  width:  10%;
  height: 10%;
  background-color: white;
  border: 1px solid;
}
.pacmanpostion { 

  background-size: contain;
  background-image: url('image/mario.png');
  background-repeat: no-repeat
  

}
.champi {
  
  background-size: contain;
  background-image: url('image/champi.png')
}

.barrier {

  background-size: contain;
  background-image:  url('image/wall.png');
}

